<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <div class="list">
      <div class="item item-divider inter"><a menu-close href="#/app/artigos/inter/">INTER</a></div>
      <a menu-close class="item" ng-repeat="item in menu" href="#/app/artigos/inter/{{item.tid}}">{{item.name}}</a>

      <div class="item item-divider gremio"><a menu-close href="#/app/artigos/gremio/">GRÊMIO</a></div>
      <a menu-close class="item" ng-repeat="item in menu" href="#/app/artigos/gremio/{{item.tid}}">{{item.name}}</a>
    </div>
  </ion-side-menu>
</ion-side-menus>
