<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-stable bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left">
    <div class="list">
      <div class="item item-divider inter">INTER</div>
      <a class="item" href="#/app/search">Brasileirão</a>
      <a class="item" href="#/app/search">Copa do Brasil</a>
      <a class="item" href="#/app/search">Gaúchão</a>
      <a class="item" href="#/app/search">Libertadores</a>
      <div class="item item-divider gremio">GRÊMIO</div>
      <a class="item" href="#/app/search">Brasileirão</a>
      <a class="item" href="#/app/search">Copa do Brasil</a>
      <a class="item" href="#/app/search">Gaúchão</a>
      <a class="item" href="#/app/search">Libertadores</a>
    </div>
  </ion-side-menu>
</ion-side-menus>
